@import url('https://fonts.googleapis.com/css?family=Roboto');

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$theme-colors: (
        "light-blue-lighten-5" : #e1f5fe,
        "teal-darken-4": #004d40,
        "teal-lighten-2": #4db6ac,
        "blue-grey-darken-2": #455a64,
        "blue-grey-darken-4": #263238
);
