@import url('https://fonts.googleapis.com/css?family=Roboto');

// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$theme-colors: (
        "teal-darken-4": #004d40
);
